name: reset

on:
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/reset.yaml'
  
jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.email "gha@users.noreply.github.com"
          git config --global user.name "github-actions"

      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-dev/libraries-ultralytics-attack-demo
          identity: reset
          
      - name: Empty or reset to community ultralytics v8.3.39
        run: |          
          
          echo "EMPTY=${EMPTY}"
          if [ "${EMPTY}" = "YES" ]; then
            echo "Clearing src/ultralytics/"
            rm -rf src/ultralytics || true
            mkdir -p src/ultralytics
            git add src/ultralytics/
            git commit --allow-empty -m "Cleared src/ultralytics due to EMPTY=YES"
            git push origin HEAD:main
            exit 0
          fi
          
          echo "Resetting src/ultralytics to community ultralytics v8.3.39 from GitHub"          
          mkdir -p tmp_wheels tmp_unzip
          curl -L -o tmp_wheels/ultralytics-8.3.39-py3-none-any.whl \
            https://files.pythonhosted.org/packages/e7/66/3c3fd38fc2350b5c376bcfc44fa682dc4282d39856d3dfc54679a8bcec7e/ultralytics-8.3.39-py3-none-any.whl
          rm -rf src/ultralytics || true
          mkdir -p src/ultralytics

          unzip tmp_wheels/ultralytics-8.3.39-py3-none-any.whl -d tmp_unzip
          mv tmp_unzip/ultralytics/* src/ultralytics/

          rm -rf tmp_wheels tmp_unzip
          git add src/ultralytics/
          git commit --allow-empty -m "Reset to community ultralytics v8.3.39 from GitHub"
          git push origin HEAD:main
