name: setup

on:
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/setup.yaml'
  
env:
  EMPTY: true
  MALCONTENT_SAMPLES_PYPI: true
  CHAINGUARD_LIBRARIES: true
  PYPI_BEFORE_ATTACK: true

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }} #Current branch
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.email "gha@users.noreply.github.com"
          git config --global user.name "github-actions"

      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-dev/libraries-ultralytics-attack-demo
          identity: setup
      
      - name: Clear contents of src/ultralytics
        if: env.EMPTY
        run: |
          echo "Clearing src/ultralytics/"
          rm -rf src/ultralytics || true
          mkdir -p src/ultralytics
          git add src/ultralytics/
          git commit --allow-empty -m "Cleared src/ultralytics due to EMPTY=YES"
          git push origin HEAD:main
          
      - name: Vendor from MALCONTENT_SAMPLES_PYPI
        if: env.MALCONTENT_SAMPLES_PYPI
        run: |
          echo "Vendoring from malcontent-samples-ultralytics..."
          mkdir -p src/ultralytics-malware
          cp -pr malcontent-samples-ultralytics/v8.3.40/* src/ultralytics-malware/
          git add src/ultralytics-malware/
          git commit --allow-empty -m "Vendored ultralytics from malcontent-samples"
          git push origin HEAD:main

      - name: Auth for Chainguard Libraries
        if: env.CHAINGUARD_LIBRARIES
        uses: chainguard-dev/setup-chainctl@be0acd273acf04bfdf91f51198327e719f6af978 #v0.4.0
        with:
          identity: "4cf15780a13a9b6576d8b357e6524554c8c12a18/aab27dc39ad870c9"

      - name: Vendor from CHAINGUARD_LIBRARIES
        if: env.CHAINGUARD_LIBRARIES
        run: |
          echo "Vendoring ultralytics from Chainguard Libraries..."
          
          mkdir -p tmp_wheels tmp_unzip
          
          eval $(chainctl auth pull-token --library-ecosystem=python --parent=cgr-demo.com --ttl=1m --output=env)
          
          curl -L --user "$CHAINGUARD_PYTHON_IDENTITY_ID:$CHAINGUARD_PYTHON_TOKEN" \
            -o tmp_wheels/ultralytics-8.3.40-py3-none-any.whl \
            https://libraries.cgr.dev/python/files/15f7d141c3b76b85/37e321caa85a8f41/ultralytics/ultralytics-8.3.40-py3-none-any.whl#sha256=b2b05c4c61b6a93fb4c7c052c47cd6c30ab7915131dee70a862da1a09acf3d85
      
          unzip tmp_wheels/ultralytics-8.3.40-py3-none-any.whl -d tmp_unzip      
          rm -rf src/ultralytics-chainguard || true
          mkdir -p src/ultralytics-chainguard
          mv tmp_unzip/ultralytics/* src/ultralytics-chainguard/
          rm -rf tmp_wheels tmp_unzip
          
          git add src/ultralytics-chainguard/
          git commit -m "Vendored ultralytics from Chainguard Libraries"
          git push origin HEAD:main

      - name: populate ultralytics 8-3-39
        if: env.PYPI_BEFORE_ATTACK
        run: |

          echo "Resetting src/ultralytics to community ultralytics v8.3.39 from GitHub"          
          mkdir -p tmp_wheels tmp_unzip
          curl -L -o tmp_wheels/ultralytics-8.3.39-py3-none-any.whl \
          https://files.pythonhosted.org/packages/e7/66/3c3fd38fc2350b5c376bcfc44fa682dc4282d39856d3dfc54679a8bcec7e/ultralytics-8.3.39-py3-none-any.whl
          rm -rf src/ultralytics-before-attack || true
          mkdir -p src/ultralytics-before-attack

          unzip tmp_wheels/ultralytics-8.3.39-py3-none-any.whl -d tmp_unzip
          mv tmp_unzip/ultralytics/* src/ultralytics-before-attack/
          rm -rf tmp_wheels tmp_unzip
          
          git add src/ultralytics-before-attack
          git commit --allow-empty -m "Reset to community ultralytics v8.3.39 from GitHub"
          git push origin HEAD:main

