name: setup

on:
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/setup.yaml'
  
env:
  LIBRARY_SOURCE: "MALCONTENT_SAMPLES_PYPI" 
  # LIBRARY_SOURCE: "CHAINGUARD_LIBRARIES"

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }} #Current branch
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.email "gha@users.noreply.github.com"
          git config --global user.name "github-actions"

      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: chainguard-dev/libraries-ultralytics-attack-demo
          identity: setup
          
      - name: Vendor from MALCONTENT_SAMPLES_PYPI
        if: env.LIBRARY_SOURCE == 'MALCONTENT_SAMPLES_PYPI'
        run: |
          echo "Vendoring from malcontent-samples-ultralytics..."
          cp -pr malcontent-samples-ultralytics/v8.3.40/* src/ultralytics/
          mkdir -p src/ultralytics/
          git add src/ultralytics/
          git commit -m "Vendored ultralytics from malcontent-samples"
          git push origin HEAD:${{ github.ref }}

      - name: Auth for Chainguard Libraries
        if: env.LIBRARY_SOURCE == 'CHAINGUARD_LIBRARIES'
        uses: chainguard-dev/setup-chainctl@be0acd273acf04bfdf91f51198327e719f6af978 #v0.4.0
        with:
          identity: "4cf15780a13a9b6576d8b357e6524554c8c12a18/aab27dc39ad870c9"

      - name: Vendor from CHAINGUARD_LIBRARIES
        if: env.LIBRARY_SOURCE == 'CHAINGUARD_LIBRARIES'
        run: |
          echo "Vendoring ultralytics from Chainguard Libraries..."
          
          mkdir -p tmp_wheels tmp_unzip
          
          eval $(chainctl auth pull-token --library-ecosystem=python --parent=cgr-demo.com --ttl=1m --output=env)
          
          curl -L --user "$CHAINGUARD_PYTHON_IDENTITY_ID:$CHAINGUARD_PYTHON_TOKEN" \
            -o tmp_wheels/ultralytics-8.3.40-py3-none-any.whl \
            https://libraries.cgr.dev/python/files/15f7d141c3b76b85/37e321caa85a8f41/ultralytics/ultralytics-8.3.40-py3-none-any.whl#sha256=b2b05c4c61b6a93fb4c7c052c47cd6c30ab7915131dee70a862da1a09acf3d85
      
          unzip tmp_wheels/ultralytics-8.3.40-py3-none-any.whl -d tmp_unzip      
          rm -rf src/ultralytics || true
          mkdir -p src/ultralytics
          mv tmp_unzip/ultralytics/* src/ultralytics/
          rm -rf tmp_wheels tmp_unzip
      
          git add src/ultralytics/
          git commit -m "Vendored ultralytics from Chainguard Libraries"
          git push origin HEAD:${{ github.ref }}
